version: '3.8'

services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    restart: always

  app:
    depends_on:
      - redis
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5001:5000"
    environment:
      - REDIS_HOST=redis
    restart: always

